site_name: Danube Pub-Sub messaging documentation
nav:
        - Home: index.md
        - Getting Started:
                  - Run Danube on VMs or Bare Metal: getting_started/Danube_on_vms.md
                  - Run Danube on Kubernetes Cluster: getting_started/Danube_on_k8s_helm.md
                  - Run Danube on Kubernetes on Local Machine: getting_started/Danube_local_machine_k8s.md
        - Architecture:
                  - Danube architecture: architecture/architecture.md
                  - Messages: architecture/messages.md
                  - Topics: architecture/topics.md
                  - Subscriptions: architecture/subscriptions.md
                  - Dispatch Strategy: architecture/dispatch_strategy.md
                  - Danube service components: architecture/internal_danube_services.md
                  - Queuing vs Pub-Sub (fan-out) messaging: architecture/Queuing_PubSub_messaging.md
                  - PubSub vs Streaming: architecture/PubSub_messaging_vs_Streaming.md
        - Client Libraries:
                  - Danube Clients: client_libraries/clients.md
                  - Setup: client_libraries/setup.md
                  - Create Producer: client_libraries/producer.md
                  - Create Consumer: client_libraries/consumer.md

        - Danube CLIs:
                  - Danube Admin CLI:
                            - Brokers: danube_clis/danube_admin/brokers.md
                            - Namespaces: danube_clis/danube_admin/namespaces.md
                            - Topics: danube_clis/danube_admin/topics.md
                  - Danube CLI:
                            - Producer: danube_clis/danube_cli/producer.md
                            - Consumer: danube_clis/danube_cli/consumer.md
        - Development:
                  - Development Environment: development/dev_environment.md
                  - Metadata Resources: development/internal_resources.md
theme:
        name: material
        features:
                - content.tabs.link
        palette:
                # Palette toggle for light mode
                - media: "(prefers-color-scheme: light)"
                  scheme: default
                  toggle:
                          icon: material/brightness-7
                          name: Switch to dark mode

                # Palette toggle for dark mode
                - media: "(prefers-color-scheme: dark)"
                  scheme: slate
                  toggle:
                          icon: material/brightness-4
                          name: Switch to light mode

markdown_extensions:
        - pymdownx.highlight:
                  anchor_linenums: true
                  line_spans: __span
                  pygments_lang_class: true
        - pymdownx.inlinehilite
        - pymdownx.snippets
        - pymdownx.superfences
        - pymdownx.tabbed:
                  alternate_style: true
