site_name: Danube Messaging documentation
repo_url: https://github.com/danube-messaging/danube
repo_name: danube-messaging/danube
extra:
        analytics:
                provider: google
                property: G-2XEY5RCVVB
nav:
        - Home: index.md
        - Getting Started:
                  - Run Danube on Docker: getting_started/Danube_docker_compose.md
                  - Run Danube on VMs or local machine: getting_started/Danube_local.md
                  - Run Danube on Kubernetes Cluster: getting_started/Danube_kubernetes.md
        - Architecture:
                  - Danube architecture: architecture/architecture.md
                  - Persistence (WAL + Cloud): architecture/persistence.md
                  - Schema Registry: architecture/schema_registry_architecture.md
                  - Dispatch Strategy: architecture/dispatch_strategy.md
                  - Messages: architecture/messages.md
                  - Topics: architecture/topics.md
                  - Subscriptions: architecture/subscriptions.md
                  - Messaging Modes (Pub/Sub vs Streaming): architecture/messaging_modes_pubsub_vs_streaming.md
                  - Messaging Patterns (Queuing vs Pub/Sub): architecture/messaging_patterns_queuing_vs_pubsub.md
                  - Danube service components: architecture/internal_danube_services.md
        - Client Libraries:
                  - Danube Clients: client_libraries/clients.md
                  - Setup: client_libraries/setup.md
                  - Create Producer: client_libraries/producer-basics.md
                  - Create Consumer: client_libraries/consumer-basics.md
                  - Advanced Producer: client_libraries/producer-advanced.md
                  - Advanced Consumer: client_libraries/consumer-advanced.md
                  - Schema Registry: client_libraries/schema-registry.md

        - Danube CLIs:
                  - Danube Admin CLI:
                            - Brokers: danube_clis/danube_admin/brokers.md
                            - Namespaces: danube_clis/danube_admin/namespaces.md
                            - Topics: danube_clis/danube_admin/topics.md
                            - Schema Registry: danube_clis/danube_admin/schema_registry.md
                  - Danube CLI:
                            - Getting Started: danube_clis/danube_cli/getting_started.md
                            - Producer: danube_clis/danube_cli/producer.md
                            - Consumer: danube_clis/danube_cli/consumer.md
                            - Schema Registry: danube_clis/danube_cli/schema_registry.md

        - Development:
                  - Development Environment: development/dev_environment.md
                  - Metadata Resources: development/internal_resources.md
theme:
        name: material
        logo: assets/danube.png
        features:
                - content.tabs.link
        palette:
                # Palette toggle for light mode
                - media: "(prefers-color-scheme: light)"
                  scheme: default
                  toggle:
                          icon: material/brightness-7
                          name: Switch to dark mode

                # Palette toggle for dark mode
                - media: "(prefers-color-scheme: dark)"
                  scheme: slate
                  toggle:
                          icon: material/brightness-4
                          name: Switch to light mode

markdown_extensions:
        - pymdownx.highlight:
                  anchor_linenums: true
                  line_spans: __span
                  pygments_lang_class: true
        - pymdownx.inlinehilite
        - pymdownx.snippets
        - pymdownx.superfences
        - pymdownx.tabbed:
                  alternate_style: true
